table, tr, td {
    border: none;
}

table{
  
    width: 100%;
    border-collapse:collapse;
    table-layout: fixed;
     height: 500px;
    overflow-y: scroll;
    margin-bottom: 50px;
    
   
   
}
.table-songs
{
  color: rgb(187, 187, 185);
  font-size: 14px;
  font-family: 'Montserrat';
  margin-top: 20px;
  padding: 2px;
}

.table-songs-row:hover 
{
   background: #1DB954;
   transition: background-color 300ms linear;
   color: white;
   

}

td{
    border-radius: 2px;
    padding: -12px;
}
