.create-playlist-container {
  text-align: center;
  margin: 0;
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
  align-content: center;
}
.create-playlist-container input {
  padding-left: 10px;  
  width: 300px;
  color: whitesmoke;
  height: 50px;
  border-style: none;
  border-radius: 20px;
  outline: none;
  font-size: 20px;
  font-family: 'Montserrat';
  background-color: rgb(72, 73, 72);
  
}
.create-playlist-container-buttons
{
 
    width: 70%;
    
     margin: auto;
    display: flex;
    align-items: baseline;
    justify-content: center;
    padding-left: -8px;
}