.playlist-title {
  color: white;
  letter-spacing: 0.1rem;
  font-size: 10vh;
  width: 100%;
}
.display-flex-playlist {
  display: flex;
  align-items: center;
  background-image: linear-gradient(
    to bottom,
    #4c1726,
    #3d1b14,
    #2c1d0c,
    #101010,
    #101010
  );

  width: fit-content;
  padding: 40px;
  width: 100%;
}
.playlist-title-container {
  padding: 20px;
}
.display-flex-playlist-container {
  margin-left: 23px;
  width: 100%;
}
.play-song-list {
  padding: 40px;
  width: 100%;
  background: #101010;
}


